
  <div class="container-fluid">
    <h3 class="text-dark mb-4" ></h3>
    <div class="card shadow">
      <div class="card-header">
        <h3 class="text-dark mb-4" >{{personnemorale.numClient}}</h3>
        <h3 class="text-dark mb-4" >{{personnemorale.raionSociale}}</h3>

      </div>
      <div class="card-body">
        <h5 class="text-dark mb-4" >N° Register de commerce : {{personnemorale.numRegisterComm}}</h5>
        <h5 class="text-dark mb-4" >Nationalité : {{personnemorale.nationalite}}</h5>
        <h5 class="text-dark mb-4" >Date de souscription : {{personnemorale.dateSouscription}}</h5>
        <h5 class="text-dark mb-4" >Adresse : {{personnemorale.adresse}}</h5>
      </div>
    </div>
</div>
